rdm-esnsi/src/main/resources/wsdl/adapter/v1_2/smev-service-adapter-types-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn://x-artefacts-gov-ru/services/message-exchange/types/1.2"
           xmlns:basic="urn://x-artefacts-gov-ru/services/message-exchange/types/basic/1.2"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="urn://x-artefacts-gov-ru/services/message-exchange/types/1.2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           jxb:version="2.0">

    <xs:annotation>
        <xs:documentation>
            Типы и элементы для веб-сервиса, который Адаптер СМЭВ предоставляет клиентам для обмена
            сообщениями.
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="urn://x-artefacts-gov-ru/services/message-exchange/types/basic/1.2"
               schemaLocation="smev-service-adapter-basic-1.2.xsd"/>

    <xs:element name="SendRequestDocument">
        <xs:annotation>
            <xs:documentation>Параметры метода "Послать запрос".</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageID" type="basic:UUID">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор, присвоенный сообщению отправителем по алгоритму UUID1.
                            Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего
                            времени).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TransactionCode" type="basic:string-1500" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Код транзакции, указывающий на транзакцию оказания государственной услуги или выполнения
                            государственной функции, в рамках которой посылается запрос.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:MessagePrimaryContent">
                    <xs:annotation>
                        <xs:documentation>Содержательная часть запроса, XML-документ.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Заголовки вложенных файлов.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:AttachmentContentList" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Вложенные файлы - содержимое.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AcceptRequestDocument">
        <xs:annotation>
            <xs:documentation>
                Возвращаемое значение метода "Послать запрос": запрос принят.
                Если запрос не может быть принят, информация о причине отказа передаётся через SOAP fault, см.
                WSDL-описание сервиса.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Маршрутная информация, заполняемая Адаптером интеграции со СМЭВ 3.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="MessageId" type="basic:UUID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Копируется из запроса, //SendRequestDocument/MessageID/text()
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TransactionCode" type="basic:string-1500" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Код транзакции, указывающий на транзакцию оказания государственной услуги или выполнения
                            государственной функции, в рамках которой посылается запрос.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SendingTimestamp" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Метка времени получения Адаптером интеграции со СМЭВ3 сообщения от ИС
                            отправителя.
                            Содержит дату и время, начиная с которого отсчитывается срок исполнения запроса.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SendResponseDocument">
        <xs:annotation>
            <xs:documentation>Параметры метода "Послать ответ на запрос".</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageID" type="basic:UUID">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор, присвоенный сообщению отправителем.
                            Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего
                            времени).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TransactionCode" type="basic:string-1500" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Код транзакции, указывающий на транзакцию оказания государственной услуги или выполнения
                            государственной функции, в рамках которой посылается запрос.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="basic:MessagePrimaryContent">
                            <xs:annotation>
                                <xs:documentation>Содержательная часть ответа, XML-документ.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Заголовки вложенных файлов.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
                    </xs:sequence>
                    <xs:element name="RequestRejected" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="RejectionReasonCode" type="tns:RejectCode">
                                    <xs:annotation>
                                        <xs:documentation>Код причины отклонения запроса.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="RejectionReasonDescription" type="basic:string-4000">
                                    <xs:annotation>
                                        <xs:documentation>Причина отклонения запроса, в человекочитаемом виде.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AcceptResponseDocument">
        <xs:annotation>
            <xs:documentation>
                Возвращаемое значение метода "Послать ответ на запрос": ответ принят.
                Если ответ не может быть принят, информация о причине отказа передаётся через SOAP fault, см.
                WSDL-описание сервиса.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Маршрутная информация, заполняемая Адаптером интеграции со СМЭВ 3.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="MessageId" type="basic:UUID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Копируется из запроса, //SendResponseDocument/MessageID/text()
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TransactionCode" type="basic:string-1500" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Код транзакции, указывающий на транзакцию оказания государственной услуги или выполнения
                            государственной функции, в рамках которой посылается запрос.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SendingTimestamp" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Метка времени получения Адаптером интеграции со СМЭВ3 сообщения от ИС
                            отправителя.
                            Содержит дату и время, начиная с которого отсчитывается срок исполнения запроса.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetRequestDocument">
        <xs:annotation>
            <xs:documentation>
                Параметры метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:MessageTypeSelector">
                    <xs:annotation>
                        <xs:documentation>
                            См. описание
                            {urn://x-artefacts-gov-ru/services/message-exchange/types/basic/1.2}MessageTypeSelector
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetResponseDocument">
        <xs:annotation>
            <xs:documentation>
                Параметры метода "получить сообщение из моей входящей очереди ответов, если очередь не пуста".
                Какую входящую очередь смотреть - определаятся по владельцу сертификата, входящего в состав ЭЦП,
                и селектору типа _ответа_.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:MessageTypeSelector">
                    <xs:annotation>
                        <xs:documentation>
                            См. описание
                            {urn://x-artefacts-gov-ru/services/message-exchange/types/basic/1.2}MessageTypeSelector
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RequestDocument">
        <xs:annotation>
            <xs:documentation>
                Возвращаемая структура метода "получить сообщение из моей входящей очереди запросов, если очередь не
                пуста".
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Если у RequestDocument отсутствуют дочерние элементы, это значит, что входящая очередь пуста.
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element ref="tns:SenderProvidedRequestData"/>
                    <xs:element ref="tns:MessageMetadata">
                        <xs:annotation>
                            <xs:documentation>
                                Информация об отправителе, дате отправки, маршрутизации сообщения, и другая (см.
                                определение типа).
                                Все данные заполняются СМЭВ.
                                Элемент //MessageMetadata/SendingTimestamp содержит дату и время, начиная с которых
                                отсчитывается срок исполнения запроса.
                                Остальные данные предназначены для целей анализа (машинного и ручного) качества
                                обслуживания
                                информационной системы - получателя сообщения,
                                а также для предоставления службе поддержки оператора СМЭВ в случае необходимости.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResponseDocument">
        <xs:annotation>
            <xs:documentation>
                Возвращаемая структура метода "получить сообщение из моей входящей очереди, если очередь не пуста".
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Если у ResponseDocument отсутствуют дочерние элементы, это значит, что входящая очередь пуста.
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="OriginalMessageId" type="basic:UUID" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Идентификатор сообщения, сформированный отправителем сообщения
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OriginalTransactionCode" type="basic:string-1500" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Код транзакции, указывающий на транзакцию оказания государственной услуги или выполнения
                                государственной функции, в рамках которой посылается запрос.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element name="ReferenceMessageID" type="basic:UUID" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Идентификатор сообщения, порождающего цепочку сообщений.
                                        При отправке подчиненных сообщений значение соответствует MessageID корневого
                                        сообщения
                                        цепочки сообщений.
                                        Для корневого сообщения значение совпадает с MessageID
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="tns:SenderProvidedResponseData"/>
                            <xs:element ref="tns:MessageMetadata"/>
                            <xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
                        </xs:sequence>
                        <xs:sequence>
                            <xs:choice>
                                <xs:sequence>
                                    <xs:element name="SmevTypicalError" type="basic:SmevTypicalError">
                                        <xs:annotation>
                                            <xs:documentation>Информация о типовой ошибки СМЭВ 3</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="SmevAdapterFault" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Информация об ошибке асинхронной обработки Адаптера СМЭВ 3</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                    </xs:choice>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="AsyncProcessingStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OriginalMessageId" type="basic:UUID">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор сообщения, сформированный отправителем сообщения
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="StatusCategory" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Категория статуса.</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="StatusDetails" type="basic:string-500" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Описание процессинга в человекочитаемом виде.</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:choice minOccurs="0">
                    <xs:sequence>
                        <xs:element name="SmevFault" type="basic:SmevFault">
                            <xs:annotation>
                                <xs:documentation>Информация об ошибке асинхронной обработки СМЭВ 3</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:choice>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AckRequest">
        <xs:annotation>
            <xs:documentation>
                Параметры метода "Подтверждение получения сообщения".
                Ссылка на сообщение, получение которого подтверждается методом Ack.
                Сюда нужно писать Id СМЭВ-сообщения, который берётся
                из //RequestDocument/.../SenderProvidedRequestData/MessageID/text() либо
                из //ResponseDocument/.../SenderProvidedRequestData/MessageID/text().
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="basic:UUID"></xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="AckResponse" type="basic:Void">
        <xs:annotation>
            <xs:documentation>Возвращаемое значение метода "Подтверждение получения сообщения".</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SenderProvidedRequestData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageID" type="basic:UUID">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор, присвоенный сообщению отправителем.
                            Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего
                            времени).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ReferenceMessageID" type="basic:UUID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор сообщения, порождающего цепочку сообщений.
                            При отправке подчиненных сообщений значение соответствует MessageID корневого сообщения
                            цепочки сообщений.
                            Для корневого сообщения значение совпадает с MessageID
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TransactionCode" type="basic:string-1500" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Код транзакции, указывающий на транзакцию оказания государственной услуги или выполнения
                            государственной функции, в рамках которой посылается запрос.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NodeID" type="basic:string-50" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор нода отправителя.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EOL" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Ограничение жизни сообщения.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:MessagePrimaryContent">
                    <xs:annotation>
                        <xs:documentation>Содержательная часть запроса, XML-документ.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Заголовки вложенных файлов.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BusinessProcessMetadata" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Информация о бизнес-процессе, в рамках которого пересылается данное сообщение.
                            Формат данных определяется в отдельной схеме (схемах).
                            На текущий эта информация не обязательна для заполнения отправителем.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="SenderProvidedResponseData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageID" type="basic:UUID">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор, присвоенный сообщению отправителем.
                            Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего
                            времени).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="basic:MessagePrimaryContent">
                            <xs:annotation>
                                <xs:documentation>Содержательная часть ответа, XML-документ.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Заголовки вложенных файлов.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:element name="RequestRejected" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="RejectionReasonCode" type="tns:RejectCode">
                                    <xs:annotation>
                                        <xs:documentation>Код причины отклонения запроса.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="RejectionReasonDescription" type="basic:string-4000">
                                    <xs:annotation>
                                        <xs:documentation>Причина отклонения запроса, в человекочитаемом виде.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="RequestStatus" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="StatusCode" type="xs:int">
                                    <xs:annotation>
                                        <xs:documentation>Код бизнес статуса запроса.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="StatusParameter" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Key" minOccurs="1" type="xs:string"/>
                                            <xs:element name="Value" minOccurs="1" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="StatusDescription" type="basic:string-4000">
                                    <xs:annotation>
                                        <xs:documentation>Бизнес статус запроса, в человекочитаемом виде.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element ref="tns:AsyncProcessingStatus" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Блок статуса сообщения. Заполняется СМЭВ.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="RejectCode">
        <xs:restriction base="basic:string-50">
            <xs:enumeration value="ACCESS_DENIED"/>
            <xs:enumeration value="NO_DATA"/>
            <xs:enumeration value="UNKNOWN_REQUEST_DESCRIPTION"/>
            <xs:enumeration value="FAILURE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="MessageMetadata">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Маршрутная информация, заполняемая СМЭВ.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="MessageId" type="basic:UUID" minOccurs="0"/>
                <xs:element name="MessageType" type="tns:MessageTypeType"/>
                <xs:element name="Sender" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Информация об отправителе сообщения.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Mnemonic" type="basic:string-50" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Мнемоника отправителя. Для машинной обработки. Вычисляется на
                                        основании данных сетрификата.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SendingTimestamp" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Дата и время отправки сообщения в СМЭВ.</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="Recipient" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Получатель сообщения (вычислен маршрутизатором).
                            Для широковещательных сообщений не заполняется.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Mnemonic" type="basic:string-100" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Мнемоника. Для машинной обработки.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DeliveryTimestamp" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Дата и время доставки сообщения, по часам СМЭВ.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Status" type="basic:InteractionStatusType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="MessageTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REQUEST"/>
            <xs:enumeration value="BROADCAST"/>
            <xs:enumeration value="RESPONSE"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>