rdm-esnsi/src/main/resources/wsdl/adapter/v1_2/smev-service-adapter-basic-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn://x-artefacts-gov-ru/services/message-exchange/types/basic/1.2"
           xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="urn://x-artefacts-gov-ru/services/message-exchange/types/basic/1.2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           jxb:version="2.0">

    <xs:annotation>
        <xs:documentation>Базовые типы.</xs:documentation>
    </xs:annotation>

    <xs:element name="MessagePrimaryContent">
        <xs:annotation>
            <xs:documentation>Содержательная часть сообщения</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##other" processContents="skip">
                    <xs:annotation><xs:documentation>Корневой элемент XML-документа запроса присоединять сюда</xs:documentation></xs:annotation>
                </xs:any>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AttachmentHeaderList">
        <xs:annotation>
            <xs:documentation>
                Заголовки файлов, приложенных к СМЭВ-сообщению.
                Заголовки отделены от содержимого вложений.
                Это нужно потому, что заголовки должны попадать под ЭП-ОВ,
                а содержимое - должно не попадать (иначе не будет работать MTOM).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="AttachmentHeader" type="tns:AttachmentHeaderType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AttachmentHeaderType">
        <xs:annotation>
            <xs:documentation>
                Файл, приложенный к СМЭВ-сообщению.
                Имя файла не передаётся; вложения идентифицируются только идентификаторами внутри сообщения.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contentId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Идентификатор вложения. Ссылка на соответствующий //AttachmentContent/@Id
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MimeType" type="tns:RFC2046MimeTypesType">
                <xs:annotation><xs:documentation>Тип контента.</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="AttachmentContentList">
        <xs:annotation>
            <xs:documentation>
                Cодержимое вложенных файлов.
                У элемента списка, тип base64Binary и наличие атрибута expectedContentTypes - подсказка для frameworks типа JAX-WS передавать содержимое этого элемента по MTOM протоколу.
                Кроме того, значение expectedContentTypes="application/octet-stream" - подсказка JAX-WS дать доступ к этому элементу через InputStream/OutputStream.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AttachmentContent" type="tns:AttachmentContentType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AttachmentContentType">
        <xs:annotation>
            <xs:documentation>
                Содержимое вложенного файла.
                Значение атрибута attachmentId должно быть уникально среди всех элементов и атрибутов СМЭВ-сообщения, имеющих тип xs:ID.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="xs:ID"/>
            <xs:element name="Content" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="UUID">
        <xs:annotation>
            <xs:documentation>
                Строковое представление UUID.
                В СМЭВ UUID используются в качестве идентификаторов сообщений.
                Идентификаторы присваиваются сообщеням отправителями.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RFC2046MimeTypesType">
        <xs:annotation><xs:documentation>Типы вложений, в формате RFC-2046.</xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(text|image|audio|video|application)/[a-zA-Z0-9\-+.]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="MessageTypeSelector">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Селектор, с помощью которого при приёме запроса или ответа
                    можно задать фильтр по типу запроса (ответа).
                    Поскольку тип запроса или ответа однозначно определяется полным именем
                    корневого XML-элемента его бизнес-данных,
                    селектор представляет из себя структуру для задания этого имени.
                    Если селектор пуст, это значит, что нужно принять запрос (ответ)
                    без фильтрации по типам.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element minOccurs="0" name="NamespaceURI" type="xs:anyURI">
                    <xs:annotation>
                        <xs:documentation>
                            NamespaceURI вида сведений
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice>
                    <xs:element minOccurs="0" name="ChildRootElementLocalName" type="xs:NCName">
                        <xs:annotation>
                            <xs:documentation>
                                Название элемента (дочерний узел коренного элемента) запроса/ответа
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="InteractionStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="doesNotExist">
                <xs:annotation><xs:documentation>Запрос с таким Id не найден в БД СМЭВ.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="requestIsQueued">
                <xs:annotation><xs:documentation>Запрос находится в очереди на асинхронную валидацию.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="requestIsAcceptedBySmev">
                <xs:annotation><xs:documentation>Запрос доставляется поставщику.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="requestIsRejectedBySmev">
                <xs:annotation><xs:documentation>Запрос не прошёл асинхронную валидацию.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="underProcessing">
                <xs:annotation><xs:documentation>Обрабатывается поставщиком сервиса.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="responseIsAcceptedBySmev">
                <xs:annotation><xs:documentation>Запрос выполнен ответ находится в очереди СМЭВ.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="responseIsRejectedBySmev">
                <xs:annotation><xs:documentation>Запрос не прошёл асинхронную валидацию.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="cancelled">
                <xs:annotation><xs:documentation>Запрос отменён сервисом.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="messageIsArchived">
                <xs:annotation><xs:documentation>Сообщение переведено в архив.</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="messageIsDelivered">
                <xs:annotation><xs:documentation>Сообщение получено получателем.</xs:documentation></xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string-50">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string-100">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string-500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string-1500">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1500"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string-4000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Void">
        <xs:annotation>
            <xs:documentation>Тип элемента, который передаёт информацию фактом своего наличия.</xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="SmevFault">
        <xs:annotation>
            <xs:documentation>Информация об ошибке асинхронной обработки СМЭВ 3</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension  base="tns:Void">
                <xs:sequence>
                    <xs:element name="Code" type="tns:string-100"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Код ошибки</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Description" type="xs:string"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Описание ошибки</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence> </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SmevTypicalError">
        <xs:annotation>
            <xs:documentation>Информация о типовой ошибки СМЭВ 3</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Code" type="xs:normalizedString">
                <xs:annotation>
                    <xs:documentation>Код системного сообщения СМЭВ 3</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Текст системного сообщения СМЭВ 3</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

